<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="本地桌面锁屏壁纸自动换.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <本地桌面锁屏壁纸自动换.My.MySettings>
            <setting name="当前桌面目录" serializeAs="String">
                <value />
            </setting>
            <setting name="桌面轮换周期" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="所有桌面目录" serializeAs="String">
                <value />
            </setting>
            <setting name="当前锁屏目录" serializeAs="String">
                <value />
            </setting>
            <setting name="锁屏轮换周期" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="所有锁屏目录" serializeAs="String">
                <value />
            </setting>
        </本地桌面锁屏壁纸自动换.My.MySettings>
    </userSettings>
</configuration>
