<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:uap10="http://schemas.microsoft.com/appx/manifest/uap/windows10/10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
	  Name="b3df9870-a519-4be6-b15f-97b52c559383"
	  Publisher="CN=vhtmf"
	  Version="1.0.0.0" />

	<Properties>
		<DisplayName>本地桌面锁屏壁纸自动换</DisplayName>
		<PublisherDisplayName>埃博拉酱</PublisherDisplayName>
		<Logo>Images\StoreLogo.png</Logo>
	</Properties>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.14393.0" MaxVersionTested="10.0.14393.0" />
	</Dependencies>

	<Resources>
		<Resource Language="x-generate"/>
	</Resources>

	<Applications>
		<Application Id="App"
		  Executable="$targetnametoken$.exe"
		  EntryPoint="$targetentrypoint$">
			<uap:VisualElements
			  DisplayName="本地桌面锁屏壁纸自动换"
			  Description="在指定本地目录中随机抽一张图，自动定时轮换桌面锁屏壁纸"
			  BackgroundColor="transparent"
			  Square150x150Logo="Images\Square150x150Logo.png"
			  Square44x44Logo="Images\Square44x44Logo.png">
				<uap:DefaultTile Wide310x150Logo="Images\Wide310x150Logo.png"  Square71x71Logo="Images\SmallTile.png" Square310x310Logo="Images\LargeTile.png"/>
				<uap:SplashScreen Image="Images\SplashScreen.png" />
			</uap:VisualElements>
			<Extensions>
				<uap5:Extension
				  Category="windows.startupTask"
				  Executable="本地桌面锁屏壁纸自动换\本地桌面锁屏壁纸自动换.exe"
				  EntryPoint="Windows.FullTrustApplication"
				  uap10:Parameters="自启动">
					<uap5:StartupTask
					  TaskId="自启动任务"
					  Enabled="false"
					  DisplayName="本地桌面锁屏壁纸自动换" />
				</uap5:Extension>
			</Extensions>
		</Application>
	</Applications>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
		<uap:Capability Name="picturesLibrary"/>
	</Capabilities>
</Package>
